/*------------------------------------*\
    link -- Desktop CSS
\*------------------------------------*/
nav { text-align: center;}

.maison-nav{ 
	margin-top: 32px!important;
      
    border-top: 1px solid $primary-107;
    color: $primary-62;
    @include f(13);
    @include rem('height', 22px);
    margin:0 auto;
    
    li {
        display: inline-block;
        @include rem('padding',0px 15px);
        position: relative;
        @include rem('top', -22px);

        .link-title{
            background: $primary-108;
            color:$primary-1;
            @include rem('padding',0px 5px);
            text-transform:uppercase;
            position:relative;
            @include rem('top', 3px);
            @include proxi-font();
            font-weight: bold;
            @include rem('letter-spacing', 1px);

            .tab_index{
                @include rem('padding-left',3px);
            }
        }

        .arrow.arrowFirst , .arrow.arrowSecond{
            vertical-align: middle;
            @include rem('height', 38px);
            @include rem('width', 16px);
            display: inline-block;
            @include rem('padding', 0px);
            background:none;
            @include rem('margin', 0px);

        }
        .arrow.arrowSecond.hover{
            @include setSpriteDesktop(75px, 75px, -109px, -376px, $primary-2);
            @include rem('height', 38px);
            @include rem('width', 16px);
        }
        .arrow.arrowFirst.hover{
            @include setSpriteDesktop(75px, 75px, -73px, -376px, $primary-2);
            @include rem('height', 38px);
            @include rem('width', 16px);
        }
    }

    .active{
        .arrow.arrowFirst{
            @include setSpriteDesktop(75px, 75px, -73px, -376px, $primary-2);
             @include rem('height', 38px);
            @include rem('width', 16px);
        } 

        .arrow.arrowSecond{
            @include setSpriteDesktop(75px, 75px, -109px, -376px, $primary-2);
            @include rem('height', 38px);
            @include rem('width', 16px);
        }
    }

}  