/*------------------------------------*\
    PENDING ESTIMATE LIST -- Mobile CSS
\*------------------------------------*/
/**
 * MODULE CONTAINER..... main container (.repair-service)
 */

/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/

.repair-service{
	text-align: left;
	width:100%;
	margin-top: 0rem;
	display:inline-block;
	.error{
		@include f(12);
	}
	.cost-estimate{
		text-align:center;
		width:100%;
		display: inline-block;
		vertical-align: top;
		h4{
			@include f(25);
			@include rem('padding-top', 5px);
			@include rem('margin', 0 0 5px 0);
			color:$primary-2;
			border:none;
		}
		p{
			font-size:1.5rem;
			@include rem('margin', 5px 0 5px 0);
			@include rem('padding', 5px 0);
			text-align:center;
		}
		/*label{
			color:$primary-3;
			@include f(10);
			@include rem('margin', 30px 0 0 0);
			letter-spacing: .1em;	
			line-height:20px;
			text-align:left;
			@include bold-font;
			text-transform:uppercase;
		} */
		.form-input{
			height:30px;
			padding:0;
			font-size:1.1rem;
		}
		.cta-button {
			width: 40%;
			@include rem('padding', 10px 0 10px 0);
			@include rem('margin', 10px 0 10px 0);
			.cta-button__input{
				@include f(11);
				letter-spacing: .2rem;
			}
		}
	}
}
