/*------------------------------------*\
    tab_shipping_address -- Mobile CSS
\*------------------------------------*/
/**
 * MODULE CONTAINER....main container (.tab_shipping_address)
*/

/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/

.tab_shipping_address{
	@include brand-font;
	@include font-color($primary-2);
	display: block;
	margin: 0px auto;
	text-align: center;
	.top-margin{
		border-top:solid 1px $primary-26;
	}
	.full-width{
		width:100%;
	}
	.tab_shipping_address__desc {
		@include main-font;
		@include rem('letter-spacing', 2px);
		display: inline-block;
		text-align: center;
		@include f(26);
		@include rem('padding', 50px 0px);
	}
	.address-details{
		@include rem(margin-bottom, 28px);
	}
	.billing-form {
		margin: 0 auto;
		width:100%;
		text-align: left;	
	}
	.cta--red {
		width: 70%;	
		@include rem('margin-top', 30px);
		@include rem('margin-bottom', 30px);
	}
	.tab_billing_address__desc {
		@include main-font;
		@include rem('letter-spacing', 2px);
		display: inline-block;
		text-align: center;
		@include f(26);
		@include rem('padding', 45px 0px);
	}
	.edit-footer, .js-shipping-section-two {
		display: none;
	}
	.edit-footer, .delivery-days{
		margin: 0 auto;
		width: 100%;	
	}
	.edit-footer .edit-footer__edit { 
		.edit-address {
			cursor: pointer;
			display: inline-block;
		    @include bold-font;
		    text-align: left;
		    width: 49%;
		    span{
		    	display:inline;
		    }
		}
		.add-address {
			cursor: pointer;
			display: inline-block;
		    @include bold-font;
		    text-align: right;
		    width: 49%;
		}
	}
	.shipping-addr-selector{
		@include rem('margin-bottom', 20px);
	}
	.radio-btn{
		background:none;
		border:none;
	}
}

