/*------------------------------------*\
    $MAIN THEME - Mobile CSS
\*------------------------------------*/
/**
 * IMPORT VENDOR  LIBS....................get all compass vendor libs
 * IMPORT BASE STYLES & MIXINS ...........CSS Wizardy Grid System, Base, Helper(mixins)
 * IMPORT THEMES..........................get all themes Styles
 * IMPORT BASE MOBILE STYLES..............get default base mobile Style
 * HEADER & FOOTER........................Global Header & Footer Style
 * IMPORT COMPONENTS......................Components Styles 
 * IMPORT VIEW............................Views Styles
 */
/*------------------------------------*\
    $IMPORT - Vendor Libs
\*------------------------------------*/
/*----------------------------------------------------------*\
    $IMPORT - CSS Wizardy Grid System, Base, Helper(mixins)
\*----------------------------------------------------------*/
/*------------------------------------*\
    Global -- BASE CSS 
\*------------------------------------*/
/**
 * BASIC FRAMEWORK STYLES
 */
/* 
$path-images : '../../etc/designs/dmp/clientlibs_base/images/';
$path-font : '../../etc/designs/dmp/clientlibs_base/fonts/';
*/
/* 
$path-images : '../../../../../../etc/designs/richemont-car/clientlibs/publish/Clientlibs_mobile/images/';
$path-font : '../../../../../../etc/designs/richemont-car/clientlibs/publish/Clientlibs_mobile/fonts/'; 
*/
/*
$path-images : '../../../../../../../etc/designs/richemont-car/clientlibs/publish/Clientlibs_mobile/images/';
$path-font : '../../../../../../../etc/designs/richemont-car/clientlibs/publish/Clientlibs_mobile/fonts/';

*/
/*

Settings FOR DEV TEAM
====DO NOT DELETE OR UNCOMMENT====


.top-nav{
	position:static !important;
}

.main-container{
	background-color:black !important;
	margin-top:0px !important;
}

*/
/* line 46, ../../sass/_base.scss */
html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff */
  -webkit-font-smoothing: antialiased;
  font-family: Verdana;
}

/* line 53, ../../sass/_base.scss */
a {
  outline: none;
  color: inherit;
  text-decoration: none;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 72, ../../sass/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 77, ../../sass/_base.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 88, ../../sass/_base.scss */
.clearfix {
  *zoom: 1;
}

/*------------------------------------*\
    Global -- Helper CSS
\*------------------------------------*/
/**
 * FONT MIXINS for font size ,color, weight
 
 */
/*------------------------------------*\
    $FONT MIXINS
\*------------------------------------*/
/*------------------------------------*\
    $MIXIN FOR FONT SIZE
\*------------------------------------*/
/*------------------------------------*\
    $MIXIN FOR FONT COLOR
\*------------------------------------*/
/*------------------------------------*\
    $MIXIN FOR FONT WEIGHT
\*------------------------------------*/
/*------------------------------------*\
    $MIXIN FOR OPACITY
\*------------------------------------*/
/*------------------------------------*\
    $FUNCTION FOR PX to EM CONVERSION
\*------------------------------------*/
/*------------------------------------*\
    $MIXIN FOR BORDER RADIUS
\*------------------------------------*/
/* Default font size in pixels if not overridden. */
/* Convert PX units to EMs.
Ex: margin-right: pem(16);
*/
/*
 * 'rem' is a Sass mixin that converts pixel values to rem values for whatever property is passed to it.
 * It returns two lines of code one of the regular pixel values (for IE), and another with the
 * converted rem values (for everyone else). Special thanks to Chris Epstein (http://chriseppstein.github.com)
 * and Martin Bavio (http://martinbavio.com) for the help and code!
 * 
 * Sample input:
 * .element {
 *   @include rem('padding',10px 0 2px 5px);
 * }
 * 
 * Sample output:
 * .element {
 *   padding: 10px 0 2px 5px;
 *   padding: 1rem 0 0.2rem 0.5rem;
 * }
 * 
 */
/*------------------------------------------*\
    $MIXIN FOR CONVERTING PIXELS INTO REM
\*-------------------------------------------*/
/*------------------------------------*\
    $MIXIN FOR IMAGE SPRITE
\*------------------------------------*/
/* Create Sprites using this one-line mixin
setSprite(width, height, x-pos, y-pos)
*/
/*----------------------------------------------*\
    $MIXIN FOR OVERRIDING DEFAULT PROPERY OF UL
\*----------------------------------------------*/
/* one-line mixin to override the ul property */
/*------------------------------------*\
    $MIXIN FOR TEXT ELIPSIS
\*------------------------------------*/
/*------------------------------------*\
    $MIXIN FOR GRADIENT
\*------------------------------------*/
/* Create Linear Gradient
@include linear-gradient(-45deg, #000000 0%, #010000 73%, #460000 100%);
*/
/*------------------------------------*\
    $MIXIN FOR BORDER RADIUS
\*------------------------------------*/
/*------------------------------------*\
    $MIXIN FOR ROTATE
\*------------------------------------*/
/*eg - @include rotate(0deg);*/
/*------------------------------------*\
    $MIXIN FOR TIMING
\*------------------------------------*/
/* eg @include transition(0.2s);*/
/*------------------------------------*\
    $MIXIN FOR BOX SIZING
\*------------------------------------*/
/* @include box-sizing(border-box); */
/*------------------------------------*\
    $MIXIN FOR TRANSITION
\*------------------------------------*/
/* eg @include transition(width, 0.2s, linear);*/
/*------------------------------------*\
    $IMPORT - Themes Styles
\*------------------------------------*/
/*$primary-88     : #472021;*/
/*$primary-89		: #6D3536;*/
/*------------------------------------*\
    $FONT VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    $FONTS
\*------------------------------------*/
@font-face {
  font-family: 'CartierRegular';
  src: url("../../etc/designs/dmp/clientlibs_base/fonts/Gotham-Book.otf");
}

@font-face {
  font-family: 'CartierBold';
  src: url("../../etc/designs/dmp/clientlibs_base/fonts/Gotham-Bold_0.otf");
}

@font-face {
  font-family: 'CartierMedium';
  src: url("../../etc/designs/dmp/clientlibs_base/fonts/Gotham-Medium.otf");
}

@font-face {
  font-family: 'CartierLoveTM';
  src: url("../../etc/designs/dmp/clientlibs_base/fonts/cartier-tm-love-webfont.eot");
  src: url("../../etc/designs/dmp/clientlibs_base/fonts/cartier-tm-love-webfont.woff") format("woff"), url("../../etc/designs/dmp/clientlibs_base/fonts/cartier-tm-love-webfont.ttf") format("truetype");
}

/*------------------------------------*\
    $IMPORT - Base Mobile Styles
\*------------------------------------*/
/*------------------------------------*\
    ECS View Styles
\*------------------------------------*/
/* line 3, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .form ul {
  display: inline-block;
  width: 100%;
}
/* line 6, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .form ul li {
  background-color: #1d1d1d;
  border: 1px solid #b3b3b3;
  float: left;
  padding: 14px 0;
  padding: 1.4rem 0;
  width: 49%;
}
/* line 12, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .form ul li span {
  font-size: 10px;
  font-size: 1rem;
  margin-left: 81px;
  margin-left: 8.1rem;
  width: 7.7rem;
}
/* line 17, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .form ul li label {
  display: inline-block;
  left: 15%;
  padding: 10px 0 0;
  padding: 1rem 0 0;
  position: relative;
  top: 2px;
}
/* line 27, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .form-element.input-wrapper {
  display: table;
  width: 100%;
}
/* line 31, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .form-element label {
  color: white;
  font-weight: bold;
  margin: 45px 0 0;
  margin: 4.5rem 0 0;
  padding: 0 0 5px;
  padding: 0 0 0.5rem;
  display: block;
}
/* line 38, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .form-element.select-wrapper {
  width: 47%;
  float: left;
}
/* line 42, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .form-element.select-wrapper.payment_card_year {
  float: right;
}
/* line 45, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .form-element.button-wrapper {
  background-color: #8c0114;
  margin: 20px auto;
  padding: 15px 0;
  padding: 1.5rem 0;
  text-align: center;
  width: 73%;
}
/* line 51, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .form-element.button-wrapper .form-button {
  background-color: transparent;
  border: 0 none;
  color: white;
  font-family: "CartierRegular", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 61, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .errormessage {
  color: #8f141a;
}
/* line 64, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .tab-card-payment__info {
  color: white;
  font-size: 22px;
  font-size: 2.2rem;
  text-align: center;
}
/* line 69, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .confirmation {
  padding-left: 0;
}
/* line 72, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-ecs-payment-form .confirmation label span.form-check-label {
  color: white;
  width: auto;
}

/* line 82, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-checkout .form-checkbox {
  display: block;
  float: left;
}
/* line 86, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-checkout .js-ecs-payment-form .form-element label.form-checkbox-label {
  display: block;
  margin-left: 50px;
  margin-left: 5rem;
  width: 90%;
}
/* line 91, ../../includes/views/ecs_billing_payment/_mobile.scss */
.js-checkout .form-element.checkbox-wrapper.fn_chktnc {
  display: block;
}

/* line 97, ../../includes/views/ecs_billing_payment/_mobile.scss */
.registration_page .form .address .addressrow p {
  display: inline;
  padding: 1.5px;
  padding: 0.15rem;
}

/* line 101, ../../includes/views/ecs_billing_payment/_mobile.scss */
.ecs-payment .progressbar {
  margin-left: 24px;
  width: 87.4%;
}

/* line 106, ../../includes/views/ecs_billing_payment/_mobile.scss */
.ecs-review-order-terms-section {
  text-align: left;
}
/* line 108, ../../includes/views/ecs_billing_payment/_mobile.scss */
.ecs-review-order-terms-section .checker {
  display: inline-block;
}
/* line 111, ../../includes/views/ecs_billing_payment/_mobile.scss */
.ecs-review-order-terms-section label {
  width: 100%;
}
/* line 114, ../../includes/views/ecs_billing_payment/_mobile.scss */
.ecs-review-order-terms-section span.error {
  padding-left: 50px;
}

/* line 120, ../../includes/views/ecs_billing_payment/_mobile.scss */
.card_type {
  color: #fff;
  font-weight: bold;
  margin: 45px 0 0;
  margin: 4.5rem 0 0;
  padding: 0 0 5px;
  padding: 0 0 .5rem;
  display: block;
}

/*------------------------------------*\
	ECS PRE REGISTRATION -- Mobile CSS
\*------------------------------------*/
/**
* MODULE CONTAINER ..... (.js-pre-registration)
* JS VALIDATOR CONTAINER ..... (.js-form-validator)
* ACCORDIAN CONTAINER..... (.att-accordion)
  */
/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/
/* line 14, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration {
  font-family: "CartierRegular", sans-serif;
  color: white;
  border-top: 1px solid white;
  margin: 35px 62px 0px;
  margin: 3.5rem 6.2rem 0px;
  display: block;
  /*------------------------------------*\
  	$JS VALIDATOR CONTAINER
  \*------------------------------------*/
}
/* line 15, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-ga-store-geolocatore-page {
  margin-top: 0px !important;
}
/* line 23, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .welcome-message {
  text-align: center;
}
/* line 26, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .ecs-entrust-boutique .store-locator-wrapper .store-list {
  width: 100%;
}
/* line 29, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .details-section {
  margin-bottom: 40px;
  margin-bottom: 4rem;
  border: 1px solid #666666;
}
/* line 32, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .details-section .comp-rich-text {
  margin: 0 auto;
  width: 90%;
}
/* line 35, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .details-section .comp-rich-text p {
  width: 100%;
}
/* line 38, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .details-section .comp-rich-text .videocontainer {
  width: 100%;
  height: 250px;
  height: 25rem;
  padding-bottom: 40px;
  padding-bottom: 4rem;
}
/* line 45, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .instruction-text {
  font-family: Georgia,sans-serif;
  font-size: 1.8rem;
  color: #a0a0a0;
  font-style: italic;
  display: inline-block;
  padding: 0px;
  padding: 0rem;
}
/* line 54, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .address-container h3 {
  text-align: left;
  font-weight: bold;
  font-family: "CartierRegular", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
}
/* line 62, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .address-container .address h3 {
  text-align: center;
}
/* line 66, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .address-container p {
  padding-top: 0px;
  padding-top: 0rem;
  font-family: Georgia,sans-serif;
}
/* line 71, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .rte-wrapper {
  width: 100%;
}
/* line 78, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form {
  border: 1px solid #666666;
}
/* line 80, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form {
  width: 90%;
  margin: 0 auto;
}
/* line 83, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .form-element {
  margin: 0;
}
/* line 86, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .heading-wrapper {
  width: 100%;
}
/* line 88, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .heading-wrapper .heading3 {
  padding: 0px;
  padding: 0rem;
}
/* line 91, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .heading-wrapper .heading-white-line {
  padding: 0px;
  padding: 0rem;
  margin: 40px 0px;
  margin: 4rem 0px;
}
/* line 96, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .cq-colctrl-lt0-ecs-pre-registration-1 {
  padding-bottom: 45px;
  padding-bottom: 4.5rem;
}
/* line 99, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .problem_desc, .js-pre-registration .js-form-validator form .form .address_heading {
  border-top: 1px solid #666666;
}
/* line 102, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .collection {
  width: 100%;
}
/* line 105, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .select-wrapper {
  padding-top: 20px;
  padding-top: 2rem;
}
/* line 107, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .select-wrapper .heading3 {
  padding: 45px 0 2px;
  padding: 4.5rem 0 0.2rem;
}
/* line 111, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .addressListingDetailView {
  margin-top: 20px;
  margin-top: 2rem;
}
/* line 114, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .productType, .js-pre-registration .js-form-validator form .form .creationName, .js-pre-registration .js-form-validator form .form .serialProduct, .js-pre-registration .js-form-validator form .form .select-wrapper.year {
  width: 100% !important;
  padding-top: 0;
  float: none;
}
/* line 119, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form label {
  font-size: 20px;
  font-size: 2rem;
}
/* line 122, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .input-wrapper, .js-pre-registration .js-form-validator form .form .data-picker-wrapper, .js-pre-registration .js-form-validator form .form .select-wrapper {
  min-height: 0;
  padding-top: 0;
}
/* line 125, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .input-wrapper label, .js-pre-registration .js-form-validator form .form .data-picker-wrapper label, .js-pre-registration .js-form-validator form .form .select-wrapper label {
  padding: 0;
  margin: 30px 0 5px;
  margin: 3rem 0 0.5rem;
  display: block;
}
/* line 131, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .group-wrapper {
  padding-top: 30px;
  padding-top: 3rem;
}
/* line 134, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .radio-wrapper {
  padding: 20px 0px 10px;
  padding: 2rem 0px 1rem;
}
/* line 137, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .addressList {
  width: 100%;
  margin-top: 10px;
}
/* line 140, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .addressList .address {
  margin: 50px 0;
  margin: 5rem 0;
}
/* line 144, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .default-button {
  display: none;
}
/* line 147, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .billing-shipping {
  width: 100%;
}
/* line 150, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .add-icon {
  background: url("../../etc/designs/dmp/clientlibs_base/images/icons/sprite.png") -1026px -114px no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 29px;
  display: inline-block;
  height: 15px;
  height: 1.5rem;
  margin: 0 0 0 5px;
  margin: 0 0 0 0.5rem;
  position: relative;
}
/* line 157, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .js-create {
  display: none;
}
/* line 160, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form a.js-edit {
  display: inline-block;
}
/* line 163, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form a.js-add {
  float: right;
}
/* line 166, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .confirm {
  margin: 10px 0 40px 0;
  margin: 1rem 0 4rem 0;
}
/* line 169, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .problemDescription {
  margin-bottom: 40px;
  margin-bottom: 4rem;
}
/* line 172, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .description {
  margin-bottom: 0px;
}
/* line 176, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .js-edit-text .cross-button, .js-pre-registration .js-form-validator form .form .js-create-text .cross-button {
  float: right;
}
/* line 180, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form label[for="blank"] {
  display: block;
  margin: 40px 0 0px;
  margin: 4rem 0 0px;
}
/* line 183, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form label[for="blank"] .checker {
  margin-right: 10px;
  margin-right: 1rem;
}
/* line 187, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .ecsaddress2 {
  display: none;
}
/* line 190, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .addressList .addressAction {
  text-align: center;
  padding: 0 80px;
  padding: 0 8rem;
}
/* line 193, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .addressList .addressAction .button {
  display: inline-block;
}
/* line 196, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .addressList .addressAction .marginL {
  float: left !important;
}
/* line 199, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .addressList .addressAction .marginR {
  float: right;
}

/* line 209, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecsstep2 .repairservice.section {
  border: 1px solid #666666;
  margin-bottom: 35px;
  margin-bottom: 3.5rem;
}
/* line 212, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecsstep2 .repairservice.section .cost-estimate {
  padding: 20px 22px;
  padding: 2rem 2.2rem;
  text-align: left;
  width: auto;
}
/* line 216, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecsstep2 .repairservice.section .cost-estimate .cost-estimate__filter {
  padding: 0;
}
/* line 219, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecsstep2 .repairservice.section .cost-estimate .cost-estimate__filter__wrapper {
  border: none;
}
/* line 222, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecsstep2 .repairservice.section .cost-estimate .cost-estimate__filter_node__desc {
  padding: 0;
}
/* line 225, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecsstep2 .repairservice.section .cost-estimate .notification {
  text-align: left;
}
/* line 227, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecsstep2 .repairservice.section .cost-estimate .notification h3, .ecsstep2 .repairservice.section .cost-estimate .notification p {
  text-align: left;
}
/* line 230, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecsstep2 .repairservice.section .cost-estimate .notification p {
  margin-bottom: 14px;
  margin-bottom: 1.4rem;
}
/* line 236, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecsstep2 .repairservice.section .ecs-bottom-image img {
  width: 100%;
}
/* line 241, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecsstep2 .back-button {
  display: none;
}

/* line 246, ../../includes/views/ecs-pre-registration/_mobile.scss */
#ecspre-registration_form {
  padding-top: 35px;
  padding-top: 3.5rem;
}
/* line 248, ../../includes/views/ecs-pre-registration/_mobile.scss */
#ecspre-registration_form .field-tooltip {
  display: none;
}

/* line 253, ../../includes/views/ecs-pre-registration/_mobile.scss */
.repair-service .address-box .addressrow p {
  display: inline;
  margin-right: 5px;
  margin-right: 0.5rem;
}

/* line 258, ../../includes/views/ecs-pre-registration/_mobile.scss */
#ecspre-registration_form .js-address-form .js-form-address-selector {
  border-bottom: 1px solid #4d4d4d;
}

/* line 262, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecs-nodata {
  display: none;
}
/* line 264, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecs-nodata.ecsaddress3 {
  display: block;
}
/* line 266, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecs-nodata.ecsaddress3 .js-address-select-hide {
  display: none;
}

/* line 272, ../../includes/views/ecs-pre-registration/_mobile.scss */
.js-pre-registration .js-form-validator form .form .ecsaddress3.ecs-nodata .js-edit-text .cross-button {
  display: none;
}

/* line 277, ../../includes/views/ecs-pre-registration/_mobile.scss */
.ecsservice.page.basepage.mobilehomepage h1 {
  padding: 45px 0px 25px;
  padding: 4.5rem 0px 2.5rem;
  font-size: 30px;
  font-size: 3rem;
  font-family: "CartierRegular", sans-serif;
  font-weight: bold;
}

/*------------------------------------*\
	ECS PRE REGISTRATION -- Mobile CSS
\*------------------------------------*/
/**
* MODULE CONTAINER ..... (.js-ecs-repair-service)
*/
/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/
/* line 12, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service {
  /*------------------------------------*\
      $ENTRUST BOUTIQUE ACCORDIAN
  \*------------------------------------*/
}
/* line 13, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service .wrapper {
  border: 1px solid #b3b3b3;
  margin: 20px 0px 30px;
  margin: 2rem 0px 3rem;
  padding: 40px 24px;
  padding: 4rem 2.4rem;
}
/* line 19, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service .ecs-send-creation h2 {
  font-family: "CartierRegular", sans-serif;
}
/* line 22, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service .ecs-send-creation h3 {
  font-family: "CartierRegular", sans-serif;
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: left;
}
/* line 27, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service .ecs-send-creation h3 span {
  color: #a0a0a0;
}
/* line 31, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service .ecs-send-creation .address-box {
  color: #a0a0a0;
  padding: 30px 0px;
  padding: 3rem 0px;
}
/* line 34, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service .ecs-send-creation .address-box p {
  padding: 5px 0px;
  padding: 0.5rem 0px;
}
/* line 37, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service .ecs-send-creation .address-box .address-box__name {
  font-family: "CartierRegular", sans-serif;
}
/* line 41, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service .ecs-send-creation .telno {
  color: #8f141a;
}
/* line 44, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service .ecs-send-creation .img {
  text-align: center;
}
/* line 54, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service .ecs-entrust-boutique .store-locator-wrapper {
  border-top: 1px solid #b3b3b3;
}
/* line 56, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service .ecs-entrust-boutique .store-locator-wrapper .heading2 {
  border-bottom: 0px none;
}
/* line 59, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-ecs-repair-service .ecs-entrust-boutique .store-locator-wrapper .store-list__title {
  border-top: 1px solid white;
}

/* line 68, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-pre-registration .repair-service h3 {
  padding: 25px 0;
  padding: 2.5rem 0;
  text-transform: uppercase;
  font-family: "CartierRegular", sans-serif;
}
/* line 74, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-pre-registration .repair-service h3 span, .js-pre-registration .comp-rich-text p {
  color: #a0a0a0;
}
/* line 77, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-pre-registration .comp-rich-text p {
  font-style: italic;
  padding: 0px;
  padding: 0rem;
}
/* line 80, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-pre-registration .comp-rich-text p b {
  color: #8d0115;
}
/* line 86, ../../includes/views/ecs-repair-service/_mobile.scss */
.js-pre-registration .repair-service .address-box p {
  color: #a0a0a0;
  font-style: normal;
  padding: 0px;
  padding: 0rem;
}

/*------------------------------------*\
   ECS MY ADDRESS -- Mobile CSS
\*------------------------------------*/
/**
 * MODULE CONTAINER.. main container(.ecs-form-layout)
 */
/*------------------------------------*\
    $MODULE CONTAINER BLOCK
\*------------------------------------*/
/* line 13, ../../includes/views/ecs-my-address/_mobile.scss */
.js-pre-registration .js-form-validator .js-address-form {
  width: 100%;
}
/* line 18, ../../includes/views/ecs-my-address/_mobile.scss */
.js-pre-registration .js-form-validator form .form .js-edit {
  display: block;
}
/* line 21, ../../includes/views/ecs-my-address/_mobile.scss */
.js-pre-registration .js-form-validator form .form .my-address-c1, .js-pre-registration .js-form-validator form .form .my-address-c2, .js-pre-registration .js-form-validator form .form .my-address-c3 {
  background: -webkit-linear-gradient(135deg, black 0%, #010000 73%, #460000 100%);
  background: -moz-linear-gradient(135deg, black 0%, #010000 73%, #460000 100%);
  background: -o-linear-gradient(135deg, black 0%, #010000 73%, #460000 100%);
  background: linear-gradient(315deg, #000000 0%, #010000 73%, #460000 100%);
  border: 0 none;
  padding: 20px;
  padding: 2rem;
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 29, ../../includes/views/ecs-my-address/_mobile.scss */
.js-pre-registration .js-form-validator form .form .my-address-c1 .input-wrapper label, .js-pre-registration .js-form-validator form .form .my-address-c2 .input-wrapper label, .js-pre-registration .js-form-validator form .form .my-address-c3 .input-wrapper label {
  padding: 45px 0px 5px;
  padding: 4.5rem 0px 0.5rem;
}
/* line 34, ../../includes/views/ecs-my-address/_mobile.scss */
.js-pre-registration .js-form-validator form .form .my-address-c2 {
  margin-top: 25px;
  margin-top: 2.5rem;
  background: 0 none;
  border: 1px solid #464646;
}
/* line 39, ../../includes/views/ecs-my-address/_mobile.scss */
.js-pre-registration .js-form-validator form .form .my-address-c3 {
  background: -webkit-linear-gradient(315deg, black 0%, #010000 73%, #460000 100%);
  background: -moz-linear-gradient(315deg, black 0%, #010000 73%, #460000 100%);
  background: -o-linear-gradient(315deg, black 0%, #010000 73%, #460000 100%);
  background: linear-gradient(135deg, #000000 0%, #010000 73%, #460000 100%);
  margin-top: 25px;
  margin-top: 2.5rem;
  border: 1px solid #464646;
}
/* line 44, ../../includes/views/ecs-my-address/_mobile.scss */
.js-pre-registration .js-form-validator form .form .form-address-selector__radio {
  display: inline-block;
  width: 100%;
  border-bottom: 0 none;
}
/* line 49, ../../includes/views/ecs-my-address/_mobile.scss */
.js-pre-registration .js-form-validator form .form .form-element.checkbox-wrapper.fn_grpaddr.js-first-radio, .js-pre-registration .js-form-validator form .form .form-element.checkbox-wrapper.fn_grpaddr.js-second-radio {
  border-right: 1px solid #464646;
  display: inline-block;
  padding: 20px 0px;
  padding: 2rem 0px;
  text-align: center;
  width: 49%;
}
/* line 56, ../../includes/views/ecs-my-address/_mobile.scss */
.js-pre-registration .js-form-validator form .form .form-element.checkbox-wrapper.fn_grpaddr.js-second-radio {
  width: 50%;
  border: 0 none;
}
/* line 60, ../../includes/views/ecs-my-address/_mobile.scss */
.js-pre-registration .js-form-validator form .form .button-wrapper {
  padding: 40px 0px;
  padding: 4rem 0px;
}

/*------------------------------------*\
    Order Review -- Mobile CSS
\*------------------------------------*/
/**
 * MODULE CONTAINER....main container (.ecs_verify_order)
  */
/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/
/* line 13, ../../includes/views/ecs_verify_order/_mobile.scss */
.ecs_verify_order .telephone_number {
  color: #8f141a;
}
/* line 16, ../../includes/views/ecs_verify_order/_mobile.scss */
.ecs_verify_order .order-reconfirm .product-filter li {
  border: 1px solid #464646;
}
/* line 19, ../../includes/views/ecs_verify_order/_mobile.scss */
.ecs_verify_order .product-detail {
  border-top: 0 none;
}
/* line 21, ../../includes/views/ecs_verify_order/_mobile.scss */
.ecs_verify_order .product-detail .product-detail__variant {
  text-transform: uppercase;
  font-family: "CartierRegular", sans-serif;
  font-style: normal;
}
/* line 27, ../../includes/views/ecs_verify_order/_mobile.scss */
.ecs_verify_order .order-review__info-notice {
  font-style: italic;
}

/*------------------------------------*\
    Order Review -- Mobile CSS
\*------------------------------------*/
/**
 * MODULE CONTAINER....main container (.ecs_order_acknowledgement)
  */
/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/
/* line 13, ../../includes/views/ecs_order_acknowledgement/_mobile.scss */
.ecs_order_acknowledgement .order-review__text.time {
  font-style: italic;
  color: #a0a0a0;
}
/* line 17, ../../includes/views/ecs_order_acknowledgement/_mobile.scss */
.ecs_order_acknowledgement .order-no {
  margin-top: 0px;
  margin-top: 0rem;
}

/*------------------------------------*\
    details section -- Mobile CSS

\*------------------------------------*/
/**
 * details section CONTAINER.... Wrapper for details-section (.details-section)
 */
/*------------------------------------*\
    $details-section CONTAINER
\*------------------------------------*/
/* line 14, ../../includes/components/video_content/_mobile.scss */
.ecs-video-component {
  display: block;
  border: 1px solid #4d4d4d;
  padding: 45px 25px;
  padding: 4.5rem 2.5rem;
  margin-bottom: 30px;
  margin-bottom: 3rem;
}
/* line 20, ../../includes/components/video_content/_mobile.scss */
.ecs-video-component .videocontainer {
  height: 255px;
  height: 25.5rem;
  margin-top: 40px;
  margin-top: 4rem;
}
/* line 25, ../../includes/components/video_content/_mobile.scss */
.ecs-video-component .heading2 {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
}
/* line 30, ../../includes/components/video_content/_mobile.scss */
.ecs-video-component p {
  color: white;
  letter-spacing: 0px;
}
/* line 35, ../../includes/components/video_content/_mobile.scss */
.ecs-video-component .comp-rich-text {
  width: 100%;
}
/* line 37, ../../includes/components/video_content/_mobile.scss */
.ecs-video-component .comp-rich-text .content-medias {
  max-width: 30%;
}

/* line 263, ../../sass/main_theme/ECSmobile.scss */
.ecs-entrust-boutique .store-locater {
  width: 100% !important;
}
/* line 266, ../../sass/main_theme/ECSmobile.scss */
.ecs-entrust-boutique .comp-rich-text.rte-wrapper h1 {
  display: none;
}
