/*------------------------------------*\
    BILLING PAYMENT -- Mobile CSS
\*------------------------------------*/
/**
 * MODULE CONTAINER..... billing payment block(.billing-wrapper)
 * BILLING PAYMENT CONTENT..... billing payment content block(.billing-payment)
 * TAB CONTAINER..... navigation tab and content tab block(.tabs, .js-radio-tabs)
 */

/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/

.billing-wrapper{
	display:block;
    width:81.25%;
    margin:0 auto;

	/*------------------------------------*\
    		$BILLING PAYMENT CONTENT
	\*------------------------------------*/

	.billing-payment{
		@include brand-font;
		@include font-color($primary-2);
		display: block;
		text-align: center;
		.heading2{
			border:none;
			@include rem(padding, 22px 0 0);
		}
		.top-margin{
			border-top:solid 1px $primary-3;
		}
		.full-width{
			width:100%;
		}
		.billing-payment__desc {
			@include main-font;
			display: inline-block;
			text-align: center;
			@include f(24);
			@include rem(padding, 35px 0 37px);
		}
		.billing-payment__total{
			display:inline-block;
			width:100%;
			@include rem(padding, 18px 0 25px);
			.total {
				@include f(22);
				text-transform: uppercase;
				text-align: left;
				@include rem('margin-bottom', 40px);
				@include bold-font;
				display:inline-block;
				width:50%;
			}
			.price{
				@include f(40);
				text-align: right;
				display:inline-block;
				width:49%;
			}
		}
		.grid__item{
			@include rem('padding', 20px 0);
		}
	}

	/*------------------------------------*\
    		$TAB CONTAINER
	\*------------------------------------*/

	.tabs {
		.tabs__content{
			margin:0 auto;
		}
		.tab-header{
			box-sizing: border-box;
			@include bold-font;
			-moz-box-sizing: border-box;
			@include rem('padding', 0 62px);
			border-bottom:1px solid $primary-12;
			.tabs__nav{
				@include rem('margin-left', -60px);
				li{
					width:33%;
				}
			}
		}
	}
	.js-radio-tabs{
		.radio-btn{
			border: 1px solid $primary-17;
			.radio-btn-li{
				width: 32%;
				.radio-title{
					height: 97px;
				}
			}
		}
	}
}