/*------------------------------------*\
    PRIVACY NOTICE -- Mobile CSS
\*------------------------------------*/
/**
 * MODULE CONTAINER...(.privacy-notice,.rte-wrapper)
 */

/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/

.privacy-notice, .rte-wrapper{
	width: 81.25%;
	margin: 0 auto;
	@include f(26);
	.heading2 {
		@include rem('padding-bottom',50px);
		border-bottom: 1px solid $primary-3;
		@include rem('margin-bottom',50px);
	}
	.heading4 {
		@include rem('margin-bottom',20px);
	}
	.heading4 + p {
		padding-top: 0;		
	}
}