.iconbox{
	position: relative;
	@include main-font;

	.iconbox__number{
		position: absolute;
		top: -34px;
		right: -7px;
		height:24px;
		width:24px;
		border-radius: 50%;
		background-color: #ffffff;
		span{
			text-align:center;
			@include f(18);
			display:block;
			@include font-color($primary-1);
		}
	}
}
