/*------------------------------------*\
    bridal view -- MOBILE CSS
\*------------------------------------*/
/**
 * MODULE CONTAINER....main container (.bridal-home)
 * QA CONTAINER    (.bridal-home__qa)
 * bridal description link CONTAINER (.bridal-home__desc__link)
 * bridal description CONTAINER (.bridal-home__desc)
 */

/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/

.bridal-home {
	width: 100%;
	position: relative;
	//@include rem('margin-bottom',60px);
	.bridal-home__bg-image {
			width: 100%;
			@include rem('min-height',480px);
	}
	.comp-rich-text {
		position: relative;

		/*------------------------------------*\
    		$bridal description CONTAINER
		\*------------------------------------*/
		.bridal-home__desc {
					
					color: $primary-4;
					@include f(22);
					position: absolute;
					@include main-font;
					@include rem('bottom',15px);
					/*@include rem('right',);*/
					right: 0;
					@include rem('width',393px);
					
					z-index: 5;
					.bridal-home__desc__img {
						@include rem('height',110px);
						@include rem('width',200px);
						@include rem('margin-bottom',21px);
					   	img {
					   			height: 100%;
								width: 100%;
					   	}
					}
					.bridal-home__desc_text {
					
						padding-top: 0;
						@include f(22);
						padding-bottom: 0;
						@include rem('line-height',23px);
						@include main-font;
						@include rem('width',364px);
						margin : 0;
					}
					
				.bridal-home__desc_heading {
					 @include f(24);
					 @include rem('margin-top',20px);
					 @include rem('max-width',400px);
					 color :#88131d;
					 @include bold-font;
					 text-transform: uppercase;
					 text-align :left;

				}
			/*------------------------------------*\
    				$ bridal description link CONTAINER
			\*------------------------------------*/
				.bridal-home__desc__link {
					display:inline-block;
					max-width:96%;
					a {
						
						 @include rem('margin-top',15px);
						 margin-left: 0;
						 color: $primary-1;						 
						 @include bold-font;
						 background-color: #88131d;
						 @include rem('padding',20px 20px 20px 35px);
						 text-decoration: none;
						 line-height:25px;
						 position: relative;
					}

					.cta--red{
						width: auto;
					}
				}
		}
		.cta {
			@include rem('padding-left' ,20px);

			.arrow-icon{
				position: absolute;
				left:17px;
				top:26px;
			}
		}
	}
	/*------------------------------------*\
    		$QA CONTAINER
	\*------------------------------------*/

	.bridal-home__qa {
		@include f(24);
		@include brand-font;
		text-align: center;
		color: $primary-3;
		text-transform: uppercase;
		@include rem('margin-bottom',38.4px);
		font-weight: bold;
		position: absolute;
		@include rem('bottom',-106px);
		left: 32%;
	}

	.bridal-expertise{
		height:167px;
		clear:both;
		position: relative;
 		width:81.25%;
 		margin:0 auto;
		@include rem('margin-top',30px);

		img{
			height:100%;
			width:100%;
			position:absolute;

		}

		.bridal-expertise__desc{
			position: absolute;
			border:1px solid $primary-25;
			display:block;
			width:100%;
			@include box-sizing(border-box);
			@include rem('padding',15px 10px);
			background: rgba(255, 255, 255, 0.5);

			.heading2{
				@include f(20);
				padding:0;
				@include bold-font;
				@include font-color($primary-39);
				text-align:left;
			}

			.more-button{
				@include rem('padding',10px 0 0);
				@include font-color($primary-39);
				@include f(18);
				font-style:italic;
				.arrow-show{
					@include setSprite(14px, 15px, -670px, -52px);
					position: relative;
					@include rem('top', -2px);
				}
			}
		}
	}

	
}

.quick-links {
	ul {
		@include rem('margin-top',27px);
	}
}

.heading4{
		@include bold-font;
		@include rem(padding, 60px 0 0);
	}
/*bridal css end here */