.collection-mosaic-wrapper{
    color:$primary-2;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    .mosaic-clear{
        clear: both;
    }
    .mosaic-image-wrapper{
        position: relative;
        .image-detail-txt{
            @include transition-full(opacity);
            @include f(14);
            @include rem(line-height, 20px);
            opacity: 0;
            z-index: 1;
            color: $primary-2;
            @include main-font;
            left:0;
            position: absolute;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
        }
        .mosaic-image{
            img{
                @include transition-full(opacity);
                display: table-cell;
                vertical-align: top;
            }
        }
        &:hover{
            .image-detail-txt{
                opacity: 1;
                filter: alpha(opacity=100);
                color: $primary-49;
            }
        }
    }
    .header-image-wrapper{
        width: 100%;
    }
    .header-image{
        display: inline-block;
        @include rem(margin-top, 10px);
    }

    .collection-mosaic{
        width: 100%;
        display: inline-block;
        @include rem(padding, 26px 0 10px 0);
        .left{
            .mosaic-image-wrapper{
                float: right;
                clear: right;
            }
        }
        .right{
            .mosaic-image-wrapper{
                float: left;
                clear: left;
            }
        }
        .right img{
            float: left;
        }
        .center{
            width: 100%;
            clear: both;
            .mosaic-image-wrapper{
                display: inline-block;
            }
        }
        .left, .right{
            width: 50%;
            overflow: hidden;
            float: left;
        }
        &.llr{
            .left {
                img{
                    border-right: 1px solid $primary-110;
                }
                div:first-child img{
                    border-bottom: 1px solid $primary-110;
                }
            }
        }
        &.lrr{
            .right {
                img{
                    border-left: 1px solid $primary-110;
                }
                div:first-child img{
                    border-bottom: 1px solid $primary-110;
                }
            }
            .left{
            }
        }
        &.ttb{
            .center{
                display: inline-block;
                img{
                    border-top: 1px solid $primary-110;
                }
            }
            .right{
                img{
                    border-left: 1px solid $primary-110;
                }
            }
        }
        &.tbb{
            .center{
                img{
                    border-bottom: 1px solid $primary-110;
                }
            }
            .right{
                img{
                    border-left: 1px solid $primary-110;
                }
            }
        }
    }
}


.description-text {
    line-height: 1.4;
    @include didotroman-font;
    color: $primary-1;
    @include rem(font-size, 14px);
    text-align: center;
	width: 456px; 
	margin: 0 auto;
    p {
        color: $primary-3;
        @include main-font;
        @include f(12);
        line-height: 1.4;
        letter-spacing: normal;
    }
    .hidden{
        display: none;
    }
}
.border{
    border-top: 1px solid $primary-110;
    border-bottom: 1px solid $primary-110;
}