.OverlayBoxContent{
		width:100%;
		margin-top:20px;
		@include f(20); 
		text-align:left;
		font-family: Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
	.image{
		width:80%;
		margin:10px 8% 0 8%;
		img{ width:100%;
		display:none;
	}
	}

	h3{
		@include f(24);
		@include bold-font;
	}
	h4{
		@include f(22);
		@include bold-font;
		text-align:left;
		display:inline;
		
	}
	p{
		@include f(20);
		line-height:16px;
		padding-top:10px;
		text-align:center;
		font-family: Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
	}
	table {
	  	width: 100%;
	  	text-align: left;
	  	border-collapse: collapse;
	  	@include rem('margin', 10px 0 20px 0);
	  	caption-side: top;
		clear:left;
		caption, td, th {
		  padding: 0.2rem;
		  vertical-align:middle;
		  text-align:center;
		  
		}
		
		th, td {
		  border: 1px solid #A0A0A0;
		  border: 1px solid #A0A0A0;
		  height:15px;
		  color:#fff;
		  @include f(20);

		  .form-check{
		  	@include f(20);
		  	@include rem('margin', 5px 0 0 0);
		  	width:100%;

		  }
		}

		th {
		 @include f(20);
		  font-weight:bold;
		  height:30px;	
		  
		}

		

		.form-check{

			margin:0
		}

	}

	.cta-button , .cta-button.cta--red{
		width:30%;
		@include rem('padding', 20px 0);
		.cta-button__input{
		@include f(20);
		letter-spacing:1px;

		}

	}
	.cta-button__inner.cta--grey{
			background:#393939;
	}

	#amount p{ 
		text-align:center; 
		font-weight:bold;
		@include f(20);
		font-family: Georgia,Palatino,"Palatino Linotype",Times,"Times New Roman",serif;
	} 

}

table .cta-button .cta-button__input{@include f(17);}
