	 .title-one-1{
	font-size: 34px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',58px 0 30px);
}
.title-one-2{
	font-size: 32px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',58px 0 30px);
}
.title-one-3{
	font-size: 30px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',58px 0 30px);
}
.title-one-4{
	font-size: 28px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',58px 0 30px);
}
.title-one-5{
	font-size: 26px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',58px 0 30px);
}
.title-one-6{
	font-size: 24px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',58px 0 30px);
}
.title-two-1{
	font-size: 34px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',0 0 30px);
}
.title-two-2{
	font-size: 32px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',0 0 30px);
}
.title-two-3{
	font-size: 30px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',0 0 30px);
}
.title-two-4{
	font-size: 28px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',0 0 30px);
}
.title-two-5{
	font-size: 26px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',0 0 30px);
}
.title-two-6{
	font-size: 24px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',0 0 30px);
}
.title-three-1{
	font-size: 34px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',0 0 30px);
}
.title-three-2{
	font-size: 32px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',0 0 30px);
}
.title-three-3{
	font-size: 30px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',0 0 30px);
}
.title-three-4{
	font-size: 28px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',0 0 30px);
}
.title-three-5{
	font-size: 26px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',0 0 30px);
}
.title-three-6{
	font-size: 24px;
	font-family: "CartierRegular", sans-serif;
	color:#fff;
	text-align: center;
	text-transform: uppercase;
	@include rem('padding',0 0 30px);
}
.bold-text{
	font-family: "CartierBold", sans-serif;
}
.georgia-text{
	font-family: "georgia";
}