/*------------------------------------*\
    Carousel -- Mobile CSS
\*------------------------------------*/
/**
 * MODULE CONTAINER....main container (.carousel__slider)
 * INNER BLOCK......inner items (.carousel__item, etc.)
 * HEADING GROUPS......carousel headings styling (.carousel__video__hgroup)
 * PREV NEXT TAB STYLING......previous next button styling (.carousel__prev, .carousel__next, etc.)
 * PAGING BLOCK......paging for list items (.carousel__control-paging, .carousel__list, etc.)
 */ 
 
/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/
.carousel{
	position:relative;
	.rslides{
		width:100%;
		position: relative;
		display: block;
		float: left;
		@include set-ulFix;
		border-top: 1px solid $white;
		border-bottom: 1px solid $white;
		.carousel__pic-desc{
			@include main-font;
	 	 	position:absolute;
	 	 	top:0px;
	 	 	text-transform: uppercase;
	 	 	p{
	 	 		@include f(29);
	 	 		@include main-font;
	 	 		@include rem('padding', 10px 0px);
	 	 		letter-spacing:5px;
	 	 		max-width:240px;
	 	 		line-height: 35px;
	 	 		@include rem('line-height', 35px);


	 	 		&.carousel_pic-desc__header{
	 	 			@include f(42);
	 	 			max-width:340px;
	 	 			@include main-font;

	 	 		}
	 	 	}
	 	 	a{
	 	 		position: relative;
	 	 		text-decoration:none;
	 	 		@include f(22);
	 	 		@include bold-font;
	 	 		@include rem('top', 45px);

	 	 		span{
	 	 			@include setSprite(10px, 17px, -577px, -17px);
	 	 			position: relative;
	 	 			@include rem('top', -2px);
	 	 			@include rem('margin-right', 7px);
	 	 		}
	 	 	}
	 	 }
	 	li{
	 	 	width:100%;
	 	 	overflow:hidden;

	 	 	.carousel__video{
	 			width:100%;
	 		}

	 		img{
				position:  absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width:auto;
				height:100%;
			}
	 	}

	 	li:before{
			content: "";
			display: block;
			padding-top: 60%; 	/* initial ratio of 1:1*/
		}


	 	.title-color-1{
	 	 	@include font-color($primary-9);
	 	}

	 	.title-color-2{
	 	 	@include font-color($primary-2);
	 	}

	 	.display-left{
	 	 	@include rem('left', 90px);
	 	}

	 	.display-right{
	 	 	@include rem('right', 90px);
	 	}

	 	.display-mid{
	 		right:35%;
	 	}

	 	.display-top{
	 	 	top:10%;
	 	}
	 	.display-middle{
	 	 	top:25%;
	 	}
	 	.display-bottom{
	 	 	top:42%;
	 	}


	}

	.rslides_tabs {
		width:100%;
		text-align:center;
		display: inline-block;
		position: relative;
		@include rem('top', -25px);
		@include set-ulFix;
		z-index: 5;

		li {
	 	 display: inline;
	  	}

	  	a {
			@include rem('width', 13px);
			@include rem('height', 13px);
			@include rem('margin', 0px 2px);
			@include border-radius(9px); 
			@include rem('margin', 0px 4px);
			box-shadow: 5px 4px 5px $black;
			-webkit-box-shadow: 5px 4px 5px $black;
			-moz-box-shadow: 5px 4px 5px $black;
			-o-box-shadow: 5px 4px 5px $black;
			background:$black; 
			border:1px solid #edeae8; 
			text-indent:-9000px; 
			display:inline-block; 
			overflow:hidden; 
			outline:none;
	 	}

	 	.rslides_here a{
	  		background:$white; 
		 }
	 }

	.prev{
		position: absolute;
		width: 7%;
		height: 90%;
		@include rem('left', 0px);
		cursor: pointer;
		z-index:10;
        -webkit-tap-highlight-color: transparent; /* For some Androids */
		span{
		position: absolute;
		top:35%;
		@include rem('left', 27px);

		/*@include setSprite(35px, 100px, -19px, -285px);*/
		overflow: hidden;
		z-index: 10;
		text-indent:-5000px;
		text-decoration:none;
		outline:0;
		}
		&:hover{
			text-decoration:none;
		}
	}
	.next{
		position: absolute;
		width: 7%;
		height: 90%;
		@include rem('right', 0px);	
		cursor: pointer;
		z-index:10;
        -webkit-tap-highlight-color: transparent; /* For some Androids */
		span{
		position: absolute;
		top:35%;
		@include rem('right', 27px);

		/*@include setSprite(35px, 100px, -72px, -285px);*/
		z-index: 10;
		overflow: hidden;
		text-indent:-5000px;
		text-decoration:none;
		outline:0;
		}
		&:hover{
			text-decoration:none;
			outline: 0;
			
		}
		&:focus {
		outline: 0;

		}
	}
	
	.image{
		background-size: contain;
		width: 100%;
		vertical-align: bottom;
	}

}

/*------------------------------------*\
    mobile Carousel -- Mobile CSS
\*------------------------------------*/
/**
 * MODULE CONTAINER....main container (.product-carousel)
 * INNER BLOCK......inner items (.carousel__item, etc.)
 * HEADING GROUPS......module heading (.product-carousel__title)
 * PREV NEXT TAB STYLING......previous next button styling (.carousel__prev, .carousel__next, etc.)
 * PAGING BLOCK......paging for list items (.carousel__control-paging, .carousel__list, etc.)
 */

/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/
.product-carousel{
	@include rem('line-height', 35px);
	@include font-color($primary-2);
	width:81.25%;
	margin:0 auto;
	@include rem(padding, 20px 0);
	border:none;

	/*------------------------------------*\
    $HEADING CONTAINER
	\*------------------------------------*/

	.product-carousel__title{
		display:block;
		border-bottom:1px solid $primary-2;
		border-top:1px solid $primary-2;
		@include rem(margin, 20px 0 0 0);
		@include rem(padding, 22px 0 25px);
		.heading4{
			@include rem(padding, 0px);
			@include f(24);
		}
		.heading2{
			@include rem(padding, 15px 0 0 0);
			border:none;
			@include f(34);
		}
	}

	.product-detail__variant{
		display:block;
		@include f(26);
		@include main-font;
		font-style:italic;
		text-align:center;
	}
	.product-detail__size{
		display:block;
		@include f(20);
		@include brand-font;
		text-transform:uppercase;
		text-align:center;
		@include rem('line-height', 24px);
	}

	/*------------------------------------*\
    $PRODUCT CAROUSEL CONTAINER
	\*------------------------------------*/
	.carousel{
		position:relative;
		display:inline-block;
		

	.rslides{
			border:none;
			display:block;
			@include set-ulFix;
		 	li{
		 		overflow:visible;
		 		.rslides__title {
					color: white;

		 		}

		 		.rslides__img{
		 			@include rem('height', 565px);
		 			position:relative;
		 		}
		 		
		 		img{
		 			margin:auto;
		 			height:auto;
		 			max-height:565px;
				}

				.rslides__desc--para {
					@include font-color($primary-2);
					@include f(26);
					margin: auto;
					@include main-font;
					@include rem(padding, 100px 0 0 0);
				}
		 	}

		 	li:before{
				content: "";
				display: block;
				padding-top: 0; 	/* initial ratio of 1:1*/
			}

			.heading2{
				@include f(28);
				@include rem(padding, 35px 0 0 0);
				border:none;
			}
		}

		.prev, .next{
			height: 690px;
			span{
				top:50%;
			}
		}
		
	}

	.rslides_tabs{
		display:none;
	}

	.zoom-icon{
			bottom:none;
			@include rem('top', 710px);
			left:45%;
	}

	.more-button{
		text-transform:uppercase;
		@include font-color($primary-3);
		@include rem(padding, 20px 0 0 0);
		@include bold-font;
	}
}

/*------------------------------------*\
    Product Carousel -- Mobile CSS
\*------------------------------------*/
/**
 * MODULE CONTAINER....main container (.carousel-product-detail)
 * INNER BLOCK......inner items (.carousel__item, etc.)
 * HEADING GROUPS......carousel headings styling (.carousel__video__hgroup)
 * PREV NEXT TAB STYLING......previous next button styling (.carousel__prev, .carousel__next, etc.)
 * PAGING BLOCK......paging for list items (.carousel__control-paging, .carousel__list, etc.)
 */

/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/
.carousel-product-detail{
		@include rem('line-height', 25px);
		@include rem('margin-top', 45px);


	.heading2{
		@include rem('padding', 2px 0 0 0);
		border:none;
		@include f(28);
	}

	.product-detail__variant{
		display:block;
		@include f(26);
		@include main-font;
		font-style:italic;
		font-weight:normal;
		text-align:center;
		@include rem('margin-top', 10px);
	}
	.product-detail__size{
		display:block;
		@include f(20);
		@include bold-font;
		text-transform:uppercase;
		text-align:center;
	}

	.carousel{
		position:relative;
		border-bottom:1px solid $primary-2;
		@include rem('padding', 0 0 120px 0);

		.rslides{
				width:100%;
				border:none;
				
				position: relative;
				display: block;
				float: left;
				@include set-ulFix;
			 	li{
			 		img{
						margin:auto;
						height: auto;
					}
			 	}

			}
		
	}

	.rslides_tabs {
		@include rem('top', 70px);
	}

}

/*------------------------------------*\
    SUGGESTION Carousel -- Mobile CSS
\*------------------------------------*/
/**
 * MODULE CONTAINER....main container (.suggestion-carousel)
 * INNER BLOCK......inner items (.carousel__item, etc.)
 * HEADING GROUPS......carousel headings styling (.carousel__video__hgroup)
 * PREV NEXT TAB STYLING......previous next button styling (.carousel__prev, .carousel__next, etc.)
 * PAGING BLOCK......paging for list items (.carousel__control-paging, .carousel__list, etc.)
 */

/*------------------------------------*\
    $MODULE CONTAINER
\*------------------------------------*/

.suggestion-carousel{
	display:block;
	@include rem('padding', 10px 0 30px 0);
	
	.carousel{
		@include linear-gradient(135deg, $primary-1  73%, $primary-28 0%, $primary-27 100%);
		position:relative;
		.rslides{
			width:99%;
			position: relative;
			display: block;
			float: left;
			@include set-ulFix;
			border:1px solid $primary-2;
			display:table;
			
			.carousel__pic-desc{
				@include main-font;
		 	 	position:absolute;
		 	 	top: 11.3%;
		 	 	text-transform: uppercase;
		 	 	right:0;
		 	 	text-align:center;
		 	 	width:60%;
		 	 	@include rem('padding', 20px);

		 	 	.product-name{
		 	 		@include brand-font;
		 	 		@include font-color($primary-2);
		 	 		@include f(30);
		 	 	}

		 	 	.product-varaint{
		 	 		font-style:italic;
		 	 		@include f(30);
		 	 		text-align: center;
		 	 		letter-spacing: 0;
		 	 		text-transform:capitalize;
		 	 		max-width: 103%;
					width: 103%;
		 	 	}
		 	 }
		 	li{
		 	 	width:100%;
		 	 	overflow:hidden;

		 	 	.carousel__video{
		 			width:100%;
		 		}

		 		img{
					position:  absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					width:auto;
					height:100%;
				}
		 	}

		 	li:before{
				content: "";
				display: block;
				padding-top: 40%; 	/* initial ratio of 1:1*/
			}
		}

		.rslides_tabs {
			@include rem('top', 20px);
		}
		.prev{
			display:none;
		}
		.next{
			display:none;
		}
		
		.image{
			background-size: contain;
			width: 100%;
			vertical-align: bottom;
		}
	}
}

/*image height added */
.home-carousel .bx-wrapper .bx-viewport{
height:749px !important;}
.home-carousel .bxslider li{
height:74.9rem !important;}
